<bit-header>
  <button nz-button nzType="primary" [bitOpen]="['add', key]">
    <span>{{ bit.l["add"] }}</span>
  </button>
</bit-header>

<ng-template #title>
  <nz-space *ngIf="lists">
    <ng-container *ngFor="let key of search">
      <ng-container *ngIf="lists.hasSearch(key)">
        <nz-input-group *nzSpaceItem nzSearch [nzAddOnAfter]="nzAddOnAfter" style="width: 240px">
          <input
            nz-input
            [bitSearchStart]="lists"
            [placeholder]="columnsMap.get(key).name | object: bit.locale"
            [(ngModel)]="lists.search[key].value"
            (after)="getLists(true)"
          />
        </nz-input-group>
        <ng-template #nzAddOnAfter>
          <button
            nz-button
            nzType="primary"
            nzSearch
            [bitSearchStart]="lists"
            (after)="getLists(true)"
          >
            <i nz-icon nzType="search"></i>
          </button>
        </ng-template>
      </ng-container>
    </ng-container>
    <button *nzSpaceItem nz-button nzType="default" (click)="getLists(true)">
      <i nz-icon nzType="sync"></i> {{ bit.l["refreshLists"] }}
    </button>
    <button
      *nzSpaceItem
      nz-button
      nzType="default"
      [bitSearchClear]="lists"
      (after)="getLists(true)"
    >
      <i nz-icon nzType="clear"></i> {{ bit.l["clearSearch"] }}
    </button>
  </nz-space>
</ng-template>

<ng-template #extra>
  <button
    nz-button
    nzType="primary"
    nz-popover
    nzPopoverTrigger="click"
    nzPopoverPlacement="bottomRight"
    [nzPopoverTitle]="bit.l['searchOption']"
    [nzPopoverContent]="searchTemplate"
  >
    <i nz-icon nzType="filter"></i>
  </button>
  <ng-template #searchTemplate>
    <nz-select
      style="width: 240px"
      [nzMode]="'multiple'"
      [nzPlaceHolder]="bit.l['searchPlaceholder']"
      [(ngModel)]="search"
      (ngModelChange)="searchDetection()"
    >
      <ng-container *ngFor="let x of searchColumns">
        <nz-option [nzLabel]="x.name | object: bit.locale" [nzValue]="x.column"></nz-option>
      </ng-container>
    </nz-select>
  </ng-template>
</ng-template>

<nz-card [nzTitle]="title" [nzExtra]="extra">
  <nz-table
    #table
    *ngIf="lists"
    [nzData]="lists.data"
    [nzLoading]="lists.loading"
    [nzTotal]="lists.totals"
    [nzPageSize]="lists.limit"
    [nzFrontPagination]="false"
    [(nzPageIndex)]="lists.index"
    (nzPageIndexChange)="getLists(false, $event)"
    nzSize="middle"
  >
    <thead>
    <tr>
      <th
        nzShowCheckbox
        nzWidth="65px"
        [(nzChecked)]="lists.checked"
        [nzIndeterminate]="lists.indeterminate"
        (nzCheckedChange)="lists.checkedAll($event)"
      ></th>
      <ng-container *ngFor="let x of columns">
        <th *ngIf="!x.extra.is_hide">{{ x.name | object: bit.locale }}</th>
      </ng-container>
      <th nzWidth="300px" nzRight="0px">{{ bit.l["action"] }}</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let data of table.data">
      <td
        nzShowCheckbox
        [(nzChecked)]="data.checked"
        (nzCheckedChange)="lists.refreshStatus()"
      ></td>
      <ng-container *ngFor="let x of columns">
        <td *ngIf="!x.extra.is_hide">
          <ng-container [ngSwitch]="x.datatype">
            <ng-container *ngSwitchCase="'i18n'">
              {{ data[x.column] | object: bit.locale }}
            </ng-container>
            <ng-container *ngSwitchCase="'richtext'">
              查看详情
            </ng-container>
            <ng-container *ngSwitchCase="'picture'">

            </ng-container>
            <ng-container *ngSwitchCase="'video'">

            </ng-container>
            <ng-container *ngSwitchDefault>
              {{ data[x.column] }}
            </ng-container>
          </ng-container>
        </td>
      </ng-container>
      <td>
        <a [bitOpen]="['edit', key, data.id]">
          <i nz-icon nzType="edit"></i> {{ bit.l["edit"] }}
        </a>
        <nz-divider nzType="vertical"></nz-divider>
        <a (click)="deleteData([data.id])">
          <i nz-icon nzType="delete"></i> {{ bit.l["delete"] }}
        </a>
      </td>
    </tr>
    </tbody>
  </nz-table>
</nz-card>
