<bit-header back>
  <nz-alert
    *ngIf="changed"
    bitBanner
    nzBanner
    nzType="warning"
    nzCloseable
    [nzMessage]="bit.l['changed']"
  ></nz-alert>
  <nz-space>
    <button *nzSpaceItem nz-button>
      <span>{{ bit.l["exportModel"] }}</span>
    </button>
    <button *nzSpaceItem nz-button nzType="primary" (click)="save()">
      <span>{{ bit.l["save"] }}</span>
    </button>
    <ng-container *ngIf="data && data.type !== 0">
      <button *nzSpaceItem nz-button nzType="primary" nzDanger (click)="publish()">
        <span>{{ bit.l["publish"] }}</span>
      </button>
    </ng-container>
  </nz-space>
</bit-header>

<div nz-row [nzGutter]="16">
  <div nz-col nzFlex="200px" class="datatype">
    <nz-list nzSize="small">
      <nz-list-item *ngFor="let x of datatypes">
        <nz-card
          class="datatype-card"
          [nzBordered]="false"
          [nzHoverable]="true"
          (click)="openColumn(x.value)"
        >
          <i nz-icon [nzType]="x.icon"></i> {{ x.label | object: bit.locale }}
        </nz-card>
      </nz-list-item>
    </nz-list>
  </div>
  <div nz-col nzFlex="auto">
    <ng-template #title>
      <ng-container *ngIf="data">
        {{ data.name | object: bit.locale }}
        <ng-container *ngIf="data.description">
          <i nz-icon nzType="info-circle" [nz-tooltip]="data.description"></i>
        </ng-container>
      </ng-container>
    </ng-template>
    <ng-template #schemaType>
      <ng-container *ngIf="data">
        {{ type[data.type].label | object: bit.locale }}
      </ng-container>
    </ng-template>
    <nz-ribbon [nzText]="schemaType">
      <nz-card [nzTitle]="title">
        <nz-table
          #basicTable
          [nzData]="columns"
          [nzFrontPagination]="false"
          [nzShowPagination]="false"
          nzSize="middle"
        >
          <thead>
          <tr>
            <th nzWidth="65px"></th>
            <th nzWidth="200px">{{ bit.l["name"] }}</th>
            <th nzWidth="200px">{{ bit.l["column"] }}</th>
            <th>{{ bit.l["datatype"] }}</th>
            <th>{{ bit.l["status"] }}</th>
            <th nzWidth="300px" nzRight="0px">{{ bit.l["action"] }}</th>
          </tr>
          </thead>
          <tbody cdkDropList (cdkDropListDropped)="sort($event)">
          <tr *ngFor="let item of basicTable.data" cdkDrag>
            <td>
              <button cdkDragHandle nz-button nzShape="circle" nzType="dashed" nzSize="small">
                <i nz-icon nzType="drag"></i>
              </button>
            </td>
            <td>
              {{ item.name | object: bit.locale }}
              <ng-container *ngIf="item.description">
                <i nz-icon nzType="info-circle" [nz-tooltip]="item.description"></i>
              </ng-container>
            </td>
            <td>{{ item.column }}</td>
            <td>
              <ng-container *ngIf="item.datatype === 'system'">
                <nz-tag>{{ bit.l["system"] }}</nz-tag>
              </ng-container>
              <ng-container *ngIf="item.datatype !== 'system'">
                {{ datatype[item.datatype].label | object: bit.locale }}
              </ng-container>
            </td>
            <td>
              <nz-switch
                [(ngModel)]="item.status"
                [nzCheckedChildren]="bit.l['on']"
                [nzUnCheckedChildren]="bit.l['off']"
                [bitStatusChange]="columnService.status(data)"
              >
              </nz-switch>
            </td>
            <td>
              <ng-container *ngIf="item.datatype !== 'system'">
                <a (click)="openColumn(item.datatype, item)">
                  <i nz-icon nzType="edit"></i> {{ bit.l["edit"] }}
                </a>
                <nz-divider nzType="vertical"></nz-divider>
                <a
                  nz-popconfirm
                  [nzPopconfirmTitle]="bit.l['DeleteAlertContent']"
                  (nzOnConfirm)="deleteColumn(item.column)"
                >
                  <i nz-icon nzType="delete"></i> {{ bit.l["delete"] }}
                </a>
              </ng-container>
            </td>
          </tr>
          </tbody>
        </nz-table>
      </nz-card>
    </nz-ribbon>
  </div>
</div>

<ng-template #columnTitle>
  <ng-container *ngIf="columnForm">
    <span
      *ngIf="!editing"
      [innerHTML]="
        bit.l['addField']
          | Print: [datatype[columnForm.get('datatype').value].label | object: bit.locale]
      "
    >
    </span>
    <span
      *ngIf="editing"
      [innerHTML]="
        bit.l['editField']
          | Print: [datatype[columnForm.get('datatype').value].label | object: bit.locale]
      "
    >
    </span>
  </ng-container>
  <bit-i18n-switch class="ant-modal-title-extra"></bit-i18n-switch>
</ng-template>

<nz-modal [nzTitle]="columnTitle" [(nzVisible)]="column" (nzOnCancel)="closeColumn()">
  <ng-container *nzModalContent>
    <form
      *ngIf="columnForm"
      id="columnForm"
      nz-form
      nzLayout="vertical"
      [formGroup]="columnForm"
      (bitFormSubmit)="submitColumn($event)"
    >
      <nz-form-item formGroupName="name" bitI18nUpdate>
        <nz-form-label nzRequired>
          <span>
            {{ bit.l["name"] }}
            <i
              nz-icon
              nz-tooltip
              [nzTooltipTitle]="bit.l['i18nTip']"
              nzType="translation"
            >
            </i>
          </span>
        </nz-form-label>
        <ng-container *ngFor="let x of bit.i18nContain">
          <nz-form-control *ngIf="bit.equalI18n(x)" nzHasFeedback [nzErrorTip]="name.ref">
            <input
              nz-input
              [nz-tooltip]="tooltip.ref"
              [formControlName]="x"
              [placeholder]="bit.l['namePlaceholder']"
            />
            <bit-i18n-tooltip #tooltip groupName="name"></bit-i18n-tooltip>
            <bit-error-tip
              #name
              [hasError]="{
                required: bit.l['nameRequire']
              }"
            ></bit-error-tip>
          </nz-form-control>
        </ng-container>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label nzRequired>
          <span>
            {{ bit.l["column"] }}
          </span>
        </nz-form-label>
        <nz-form-control nzHasFeedback [nzErrorTip]="column.ref">
          <input nz-input formControlName="column" [placeholder]="bit.l['columnPlaceholder']" />
          <bit-error-tip
            #column
            [hasError]="{
              required: bit.l['columnRequire'],
              duplicated: bit.l['columnDuplicated']
            }"
          ></bit-error-tip>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item formGroupName="description" bitI18nUpdate>
        <nz-form-label>
          <span>
            {{ bit.l["description"] }}
            <i
              nz-icon
              nz-tooltip
              [nzTooltipTitle]="bit.l['i18nTip']"
              nzType="translation"
            >
            </i>
          </span>
        </nz-form-label>
        <ng-container *ngFor="let x of bit.i18nContain">
          <nz-form-control *ngIf="bit.equalI18n(x)">
            <textarea
              rows="2"
              nz-input
              [nz-tooltip]="tooltip.ref"
              [formControlName]="x"
              [placeholder]="bit.l['descriptionPlaceholder']"
            >
            </textarea>
            <bit-i18n-tooltip #tooltip groupName="name"></bit-i18n-tooltip>
          </nz-form-control>
        </ng-container>
      </nz-form-item>
      <ng-container [ngSwitch]="columnForm.get('datatype').value">
        <ng-container *ngSwitchCase="'string'">
          <nz-form-item>
            <nz-form-label>
              {{ bit.l["default"] }}
            </nz-form-label>
            <nz-form-control>
              <input
                nz-input
                formControlName="default"
                [placeholder]="bit.l['defaultPlaceholder']"
              />
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label nzRequired>
              {{ bit.l["isText"] }}
            </nz-form-label>
            <nz-form-control>
              <nz-switch
                formControlName="is_text"
                [nzCheckedChildren]="bit.l['yes']"
                [nzUnCheckedChildren]="bit.l['no']"
              >
              </nz-switch>
            </nz-form-control>
          </nz-form-item>
        </ng-container>
        <ng-container *ngSwitchCase="'i18n'">
          <nz-form-item>
            <nz-form-label nzRequired>
              {{ bit.l["isText"] }}
            </nz-form-label>
            <nz-form-control>
              <nz-switch
                formControlName="is_text"
                [nzCheckedChildren]="bit.l['yes']"
                [nzUnCheckedChildren]="bit.l['no']"
              >
              </nz-switch>
            </nz-form-control>
          </nz-form-item>
        </ng-container>
        <ng-container *ngSwitchCase="'number'">
          <nz-form-item>
            <nz-form-label>
              {{ bit.l["default"] }}
            </nz-form-label>
            <nz-form-control>
              <nz-input-number
                style="width: 300px"
                formControlName="default"
                [nzPlaceHolder]="bit.l['defaultPlaceholder']"
              >
              </nz-input-number>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label>
              {{ bit.l["max"] }}
            </nz-form-label>
            <nz-form-control>
              <nz-input-number
                style="width: 300px"
                formControlName="max"
                [nzPlaceHolder]="bit.l['maxPlaceholder']"
              >
              </nz-input-number>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label>
              {{ bit.l["min"] }}
            </nz-form-label>
            <nz-form-control>
              <nz-input-number
                style="width: 300px"
                formControlName="min"
                [nzPlaceHolder]="bit.l['minPlaceholder']"
              >
              </nz-input-number>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label>
              {{ bit.l["isSort"] }}
            </nz-form-label>
            <nz-form-control>
              <nz-switch
                formControlName="is_sort"
                [nzCheckedChildren]="bit.l['yes']"
                [nzUnCheckedChildren]="bit.l['no']"
              >
              </nz-switch>
            </nz-form-control>
          </nz-form-item>
        </ng-container>
        <ng-container *ngSwitchCase="'status'">
          <nz-form-item>
            <nz-form-label>
              {{ bit.l["default"] }}
            </nz-form-label>
            <nz-form-control>
              <nz-switch
                formControlName="default"
                [nzCheckedChildren]="'True'"
                [nzUnCheckedChildren]="'False'"
              >
              </nz-switch>
            </nz-form-control>
          </nz-form-item>
        </ng-container>
        <ng-container *ngSwitchCase="'date'">
          <nz-form-item>
            <nz-form-label>
              {{ bit.l["default"] }}
            </nz-form-label>
            <nz-form-control>
              <nz-date-picker style="width: 300px" formControlName="default"></nz-date-picker>
            </nz-form-control>
          </nz-form-item>
        </ng-container>
        <ng-container *ngSwitchCase="'datetime'">
          <nz-form-item>
            <nz-form-label>
              {{ bit.l["default"] }}
            </nz-form-label>
            <nz-form-control>
              <nz-date-picker
                style="width: 300px"
                formControlName="default"
                nzShowTime
              ></nz-date-picker>
            </nz-form-control>
          </nz-form-item>
        </ng-container>
        <ng-container *ngSwitchCase="'picture'">
          <nz-form-item>
            <nz-form-label>
              {{ bit.l["limit"] }}
            </nz-form-label>
            <nz-form-control>
              <nz-input-number
                style="width: 300px"
                formControlName="limit"
                [nzMin]="0"
                [nzPlaceHolder]="bit.l['limitPlaceholder']"
              >
              </nz-input-number>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label>
              {{ bit.l["allowSort"] }}
            </nz-form-label>
            <nz-form-control>
              <nz-switch
                formControlName="allow_sort"
                [nzCheckedChildren]="bit.l['yes']"
                [nzUnCheckedChildren]="bit.l['no']"
              >
              </nz-switch>
            </nz-form-control>
          </nz-form-item>
        </ng-container>
        <ng-container *ngSwitchCase="'video'">
          <nz-form-item>
            <nz-form-label>
              {{ bit.l["limit"] }}
            </nz-form-label>
            <nz-form-control>
              <nz-input-number
                style="width: 300px"
                formControlName="limit"
                [nzMin]="0"
                [nzPlaceHolder]="bit.l['limitPlaceholder']"
              >
              </nz-input-number>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label>
              {{ bit.l["allowSort"] }}
            </nz-form-label>
            <nz-form-control>
              <nz-switch
                formControlName="allow_sort"
                [nzCheckedChildren]="bit.l['yes']"
                [nzUnCheckedChildren]="bit.l['no']"
              >
              </nz-switch>
            </nz-form-control>
          </nz-form-item>
        </ng-container>
        <ng-container *ngSwitchCase="'enum'">
          <nz-form-item>
            <nz-form-label>
              {{ bit.l["default"] }}
            </nz-form-label>
            <nz-form-control>
              <nz-select
                formControlName="default"
                [nzMode]="columnForm.get('multiple').value ? 'multiple' : 'default'"
              >
                <ng-container *ngFor="let item of formValues.value">
                  <nz-option
                    [nzLabel]="item.label | object: bit.locale"
                    [nzValue]="item.value"
                  ></nz-option>
                </ng-container>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label>
              {{ bit.l["enum"] }}
            </nz-form-label>
            <nz-form-control formArrayName="values">
              <ng-container *ngFor="let item of formValues.controls; index as i; first as isFirst">
                <nz-input-group
                  [formGroupName]="i"
                  nzCompact
                  [ngStyle]="{ 'margin-top': isFirst ? null : '-1px' }"
                >
                  <ng-container formGroupName="label">
                    <ng-container *ngFor="let x of bit.i18nContain">
                      <input
                        *ngIf="bit.equalI18n(x)"
                        style="width: 45%"
                        type="text"
                        nz-input
                        [formControlName]="x"
                        [placeholder]="bit.l['enumLabel']"
                      />
                    </ng-container>
                  </ng-container>

                  <input
                    style="width: 45%"
                    type="text"
                    nz-input
                    formControlName="value"
                    [placeholder]="bit.l['enumValue']"
                  />
                  <button nz-button nzType="default" style="width: 10%" (click)="removeEnum(i)">
                    <i nz-icon nzType="minus-circle"></i>
                  </button>
                </nz-input-group>
              </ng-container>
              <button
                style="margin-top: 8px"
                type="button"
                nz-button
                nzType="dashed"
                nzBlock
                (click)="addEnum()"
              >
                <i nz-icon nzType="plus-circle"></i> {{ bit.l["addEnum"] }}
              </button>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label nzRequired>
              {{ bit.l["multiple"] }}
            </nz-form-label>
            <nz-form-control>
              <nz-switch
                formControlName="multiple"
                [nzCheckedChildren]="bit.l['yes']"
                [nzUnCheckedChildren]="bit.l['no']"
              >
              </nz-switch>
            </nz-form-control>
          </nz-form-item>
        </ng-container>
        <ng-container *ngSwitchCase="'assoc'">
          <nz-form-item>
            <nz-form-label nzRequired>
              {{ bit.l["assoc"] }}
            </nz-form-label>
            <nz-form-control>
              <nz-select
                formControlName="assoc"
                (ngModelChange)="getAssoc($event)"
                nzAllowClear
              >
                <ng-container *ngFor="let item of terms">
                  <nz-option
                    [nzLabel]="item.name | object: bit.locale"
                    [nzValue]="item.table"
                  ></nz-option>
                </ng-container>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label nzRequired>
              {{ bit.l["assocKey"] }}
            </nz-form-label>
            <nz-form-control>
              <nz-select formControlName="assoc_key" nzAllowClear>
                <ng-container *ngFor="let item of assoc">
                  <nz-option
                    [nzLabel]="item.column"
                    [nzValue]="item.column"
                  ></nz-option>
                </ng-container>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label nzRequired>
              {{ bit.l["assocName"] }}
            </nz-form-label>
            <nz-form-control>
              <nz-select formControlName="assoc_name" nzAllowClear>
                <ng-container *ngFor="let item of assoc">
                  <nz-option
                    [nzLabel]="item.column"
                    [nzValue]="item.column"
                  ></nz-option>
                </ng-container>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label nzRequired>
              {{ bit.l["multiple"] }}
            </nz-form-label>
            <nz-form-control>
              <nz-switch
                formControlName="multiple"
                [nzCheckedChildren]="bit.l['yes']"
                [nzUnCheckedChildren]="bit.l['no']"
              >
              </nz-switch>
            </nz-form-control>
          </nz-form-item>
        </ng-container>
      </ng-container>
      <nz-form-item>
        <nz-form-label nzRequired>
          {{ bit.l["required"] }}
        </nz-form-label>
        <nz-form-control>
          <nz-switch
            formControlName="required"
            [nzCheckedChildren]="bit.l['yes']"
            [nzUnCheckedChildren]="bit.l['no']"
          >
          </nz-switch>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label>
          {{ bit.l["isHide"] }}
        </nz-form-label>
        <nz-form-control>
          <nz-switch
            formControlName="is_hide"
            [nzCheckedChildren]="bit.l['yes']"
            [nzUnCheckedChildren]="bit.l['no']"
          >
          </nz-switch>
        </nz-form-control>
      </nz-form-item>
    </form>
  </ng-container>
  <ng-container *nzModalFooter>
    <ng-container *ngIf="columnForm">
      <button nz-button nzType="primary" form="columnForm" [disabled]="!columnForm.valid">
        <i nz-icon nzType="check"></i> {{ bit.l["submit"] }}
      </button>
    </ng-container>
  </ng-container>
</nz-modal>

<ng-template #publishTpl>
  <textarea
    rows="4"
    nz-input
    [(ngModel)]="publishRemark"
    [placeholder]="bit.l['remarkPlaceholder']"
  ></textarea>
</ng-template>
