<bit-header [back]="back">
  <bit-i18n-switch></bit-i18n-switch>
</bit-header>

<nz-card [nzLoading]="!form">
  <form *ngIf="form" nz-form [formGroup]="form" (bitFormSubmit)="submit($event)">
    <ng-container *ngFor="let data of columns">
      <ng-container [ngSwitch]="data.datatype">
        <ng-container *ngSwitchCase="'string'">
          <nz-form-item>
            <nz-form-label bitCol="label" [nzRequired]="data.extra.required">
              {{ data.name | object: bit.locale }}
            </nz-form-label>
            <nz-form-control bitCol="control" nzHasFeedback [nzExtra]="data.description | object: bit.locale">
              <input nz-input [formControlName]="data.column" />
            </nz-form-control>
          </nz-form-item>
        </ng-container>
        <ng-container *ngSwitchCase="'i18n'">
          <nz-form-item [formGroupName]="data.column">
            <nz-form-label bitCol="label" [nzRequired]="data.extra.required">
              <span>
                {{ data.name | object: bit.locale }}
                <i nz-icon nz-tooltip [nzTooltipTitle]="bit.l['i18nTip']" nzType="translation"></i>
              </span>
            </nz-form-label>
            <ng-container *ngFor="let i18n of bit.i18nContain">
              <nz-form-control
                *ngIf="bit.equalI18n(i18n)"
                bitCol="control"
                nzHasFeedback
                [nzExtra]="data.description | object: bit.locale"
              >
                <input nz-input [formControlName]="i18n" />
              </nz-form-control>
            </ng-container>
          </nz-form-item>
        </ng-container>
        <ng-container *ngSwitchCase="'richtext'">
          <nz-form-item [formGroupName]="data.column">
            <nz-form-label bitCol="label" [nzRequired]="data.extra.required">
              <span>
                {{ data.name | object: bit.locale }}
                <i nz-icon nz-tooltip [nzTooltipTitle]="bit.l['i18nTip']" nzType="translation"></i>
              </span>
            </nz-form-label>
            <ng-container *ngFor="let i18n of bit.i18nContain">
              <nz-form-control
                *ngIf="bit.equalI18n(i18n)"
                bitCol="control"
                [nzExtra]="data.description | object: bit.locale"
              >
                <v-richtext [formControlName]="i18n"></v-richtext>
              </nz-form-control>
            </ng-container>
          </nz-form-item>
        </ng-container>
        <ng-container *ngSwitchCase="'number'">
          <nz-form-item>
            <nz-form-label bitCol="label" [nzRequired]="data.extra.required">
              {{ data.name | object: bit.locale }}
            </nz-form-label>
            <nz-form-control bitCol="control" [nzExtra]="data.description | object: bit.locale">
              <nz-input-number
                [formControlName]="data.column"
                [nzMin]="data.extra.min"
                [nzMax]="data.extra.max ? data.extra.max : undefined"
                [nzStep]="1"
              ></nz-input-number>
            </nz-form-control>
          </nz-form-item>
        </ng-container>
        <ng-container *ngSwitchCase="'status'">
          <nz-form-item>
            <nz-form-label bitCol="label" [nzRequired]="data.extra.required">
              {{ data.name | object: bit.locale }}
            </nz-form-label>
            <nz-form-control bitCol="control" [nzExtra]="data.description | object: bit.locale">
              <nz-switch
                [formControlName]="data.column"
                [nzCheckedChildren]="checkedTemplate"
                [nzUnCheckedChildren]="unCheckedTemplate"
              ></nz-switch>
              <ng-template #checkedTemplate><i nz-icon nzType="check"></i></ng-template>
              <ng-template #unCheckedTemplate><i nz-icon nzType="close"></i></ng-template>
            </nz-form-control>
          </nz-form-item>
        </ng-container>
        <ng-container *ngSwitchCase="'date'">
          <nz-form-item>
            <nz-form-label bitCol="label" [nzRequired]="data.extra.required">
              {{ data.name | object: bit.locale }}
            </nz-form-label>
            <nz-form-control bitCol="control">
              <nz-date-picker [formControlName]="data.column"></nz-date-picker>
            </nz-form-control>
          </nz-form-item>
        </ng-container>
        <ng-container *ngSwitchCase="'datetime'">
          <nz-form-item>
            <nz-form-label bitCol="label" [nzRequired]="data.extra.required">
              {{ data.name | object: bit.locale }}
            </nz-form-label>
            <nz-form-control bitCol="control">
              <nz-date-picker
                nzShowTime
                nzFormat="yyyy-MM-dd HH:mm:ss"
                [formControlName]="data.column"
              ></nz-date-picker>
            </nz-form-control>
          </nz-form-item>
        </ng-container>
        <ng-container *ngSwitchCase="'picture'">
          <nz-form-item>
            <nz-form-label bitCol="label" [nzRequired]="data.extra.required">
              {{ data.name | object: bit.locale }}
            </nz-form-label>
            <nz-form-control bitCol="control" [nzExtra]="data.description | object: bit.locale">
              <v-picture [formControlName]="data.column" [limit]="data.extra.limit" [allowSort]="data.extra.allow_sort">
              </v-picture>
            </nz-form-control>
          </nz-form-item>
        </ng-container>
        <ng-container *ngSwitchCase="'video'">
          <nz-form-item>
            <nz-form-label bitCol="label" [nzRequired]="data.extra.required">
              {{ data.name | object: bit.locale }}
            </nz-form-label>
            <nz-form-control bitCol="control" [nzExtra]="data.description | object: bit.locale">
              <v-video [formControlName]="data.column" [limit]="data.extra.limit" [allowSort]="data.extra.allow_sort">
              </v-video>
            </nz-form-control>
          </nz-form-item>
        </ng-container>
        <ng-container *ngSwitchCase="'enum'">
          <nz-form-item>
            <nz-form-label bitCol="label" [nzRequired]="data.extra.required">
              {{ data.name | object: bit.locale }}
            </nz-form-label>
            <nz-form-control bitCol="control">
              <nz-select [formControlName]="data.column" [nzMode]="!data.extra.multiple ? 'default' : 'multiple'">
                <ng-container *ngFor="let item of data.extra.values">
                  <nz-option [nzValue]="item.value" [nzLabel]="item.label | object: bit.locale"></nz-option>
                </ng-container>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
        </ng-container>
        <ng-container *ngSwitchCase="'assoc'">
          <nz-form-item>
            <nz-form-label bitCol="label" [nzRequired]="data.extra.required">
              {{ data.name | object: bit.locale }}
            </nz-form-label>
            <nz-form-control bitCol="control">
              <nz-select [formControlName]="data.column" [nzMode]="!data.extra.multiple ? 'default' : 'multiple'">
                <ng-container *ngIf="assoc.hasOwnProperty(data.column)">
                  <ng-container *ngFor="let item of assoc[data.column].items">
                    <ng-container *ngIf="assoc[data.column].datatype === 'i18n'; else notI18n">
                      <nz-option
                        [nzValue]="item[data.extra.assoc_key]"
                        [nzLabel]="item[data.extra.assoc_name] | object: bit.locale"
                      ></nz-option>
                    </ng-container>
                    <ng-template #notI18n>
                      <nz-option
                        [nzValue]="item[data.extra.assoc_key]"
                        [nzLabel]="item[data.extra.assoc_name]"
                      ></nz-option>
                    </ng-template>
                  </ng-container>
                </ng-container>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
        </ng-container>
      </ng-container>
    </ng-container>
    <nz-divider></nz-divider>
    <nz-form-item>
      <nz-form-control bitCol="submit">
        <nz-space>
          <button *nzSpaceItem nz-button nzType="primary" [disabled]="!form.valid">
            <i nz-icon nzType="check"></i> {{ bit.l['submit'] }}
          </button>
          <button *nzSpaceItem nz-button type="button" bitBack>
            <i nz-icon nzType="close"></i> {{ bit.l['cancel'] }}
          </button>
        </nz-space>
      </nz-form-control>
    </nz-form-item>
  </form>
</nz-card>
