<nz-space nzDirection="vertical" [nzSize]="0">
  <nz-upload
    *nzSpaceItem
    bitUpload
    [(nzFileList)]="fileList"
    [nzFileListRender]="videoListRender"
    (nzChange)="upload($event)"
  >
    <div style="margin-bottom: 8px">
      <button nz-button type="button" [disabled]="uploadDisabled()">
        <i nz-icon nzType="upload"></i> {{ bit.l['upload'] }}
      </button>
    </div>
  </nz-upload>
  <ng-template #videoListRender let-files>
    <nz-list>
      <nz-list-item *ngFor="let file of files; index as i" class="video-list-item">
        <nz-spin [nzIndicator]="indicator" [nzSpinning]="file.status === 'uploading'">
          <video
            *ngIf="file.status === 'done'"
            [src]="file.originFileObj ? bit.static + file.originFileObj.key : file.url"
            class="video-context"
            controls="controls"
          ></video>
        </nz-spin>
        <ng-template #indicator>
          <div class="indicator">
            <i nz-icon nzType="loading"></i> {{ bit.l['uploading'] }}
            <nz-progress
              nzSize="small"
              nzStatus="active"
              [nzShowInfo]="false"
              [nzPercent]="file['percent']"
            ></nz-progress>
          </div>
        </ng-template>
        <ul nz-list-item-actions>
          <nz-list-item-action>
            <a target="_blank" [href]="file.originFileObj ? bit.static + file.originFileObj.key : file.url">
              <i nz-icon nzType="download"></i> {{ bit.l['download'] }}
            </a>
          </nz-list-item-action>
          <nz-list-item-action>
            <a (click)="removeFile(files, i)"> <i nz-icon nzType="delete"></i> {{ bit.l['remove'] }} </a>
          </nz-list-item-action>
        </ul>
      </nz-list-item>
    </nz-list>
  </ng-template>

  <ng-container *nzSpaceItem>
    <ng-container *ngIf="allowSort">
      <a (click)="openSort('video')">
        <i nz-icon nzType="sort-ascending"></i>
        {{ bit.l['sort'] }}
      </a>
      <nz-divider nzType="vertical"></nz-divider>
    </ng-container>
    <a (click)="openMedia('video')">
      <i nz-icon nzType="inbox"></i>
      {{ bit.l['formVideo'] }}
    </a>
  </ng-container>
</nz-space>

<ng-template #mediaTitle>
  {{ bit.l['video'] }}
  <v-transport
    class="ant-modal-title-extra"
    [action]="mediaModal.componentInstance.transport"
    (actionComplete)="mediaModal.componentInstance.transportComplete()"
  ></v-transport>
</ng-template>

<ng-template #sortRef>
  <nz-list nzSize="small" cdkDropList (cdkDropListDropped)="sort($event)">
    <nz-list-item *ngFor="let file of fileList" class="drag-item" cdkDrag>
      <nz-list-item-meta [nzAvatar]="metaRef">
        <ng-template #metaRef>
          <video
            [src]="file.originFileObj ? bit.static + file.originFileObj['key'] : file.url"
            class="video-meta"
          ></video>
        </ng-template>
        <nz-list-item-meta-title>
          {{ file.originFileObj ? bit.static + file.originFileObj['key'] : file.url }}
        </nz-list-item-meta-title>
      </nz-list-item-meta>
      <div class="drag-placeholder" *cdkDragPlaceholder>
        <i nz-icon nzType="arrow-down"></i>
        <h5>{{ bit.l['move'] }}</h5>
      </div>
    </nz-list-item>
  </nz-list>
</ng-template>
